<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="MONGODB" class="com.example.part35teammonew.log.MongoDBAppender">
    <host>${MONGO_HOST}</host>
    <port>${MONGO_PORT}</port>
    <dbName>${MONGO_DB}</dbName>
    <collectionName>logs</collectionName>
  </appender>

  <logger name="com.example" level="INFO" additivity="false">
    <appender-ref ref="MONGODB"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>